body {margin:0;font-family:Arial;background-color: rgb(245,245,245);}

.head {
  position: fixed;
  top:3%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  opacity: 0.7;
  z-index:9999;
}

.lhead {
  float: left;

}

.chead {
  float:none;
  top: 15%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.rhead {
  float: right;
  color:black;

}

.rhead a {

  float: right;

  z-index: 9999;
  right:0;
}


.topnav {
  overflow: hidden;
  background-color: inherit;
  padding-top: 7%;
}

.topnav a {

  display: block;
  color: black;
  text-align: center;
  padding: 2vmin 6vmin;
  text-decoration: none;
  font-size: 2vmin;
}

.active {
  background-color: rgba(255,240,245,0.5);
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 2vmin;
  border: none;
  outline: none;
  color: black;
  padding: 2vmin 6vmin;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255,250,250);
  width: 25vmin;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 1.5vmin 2vmin;
  font-size: 1.8vmin;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropbtn:hover {
  background-color: rgba(255,240,245,0.5);
  cursor: pointer;
}


.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}










::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  font-size: 1.8vmin;
  opacity: 0.5; /* Firefox */
}



#myInputdevs {
  color: black;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 25%;
  font-size: 1.7vmin;
  padding: 1.5vmin;
  border: inherit;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  margin-left: 1%;
  margin-top: 1%;
}

#myInputnames {
  color: black;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 25%;
  font-size: 1.7vmin;
  padding: 1.5vmin;
  border: inherit;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
}






button {
  cursor: pointer;
  border-radius: 6px;
}


/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 1%;
  background-color: rgba(70,130,180,0.7);
  color:white;

  padding-left:0.5%;
  padding-right: 0.5%;
  border-radius: 5vmin;

  font-size: 1.7vmin;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  font-size: 1.7vmin;
  font-weight: normal;
  text-shadow: none;

  visibility: hidden;
  width: 1000%;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 100%;
  position: absolute;
  z-index: 1;
  top: -30%;
  left: 180%;

}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 10%;
  left: -8%;
  border-width: 1vmin;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


.container {
  left: 0%;
  display: inline-block;
  position: relative;
  top: 0%;
  padding-left: 5vmin;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 5%;
  cursor: pointer;
  font-size: 1.8vmin;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2vmin;
  width: 2vmin;
  background-color: inherit;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}


.container:hover input ~ .checkmark {
  background-color: #ccc;
}


.container input:checked ~ .checkmark {
  background-color: gray;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}

.ptypes {
  background-color: inherit;
  position: absolute;
  z-index: 7;
  float: left;
  left:10%;
  width: 100%;
  height: 20%;
  top: 19.5%;
}




.open-button {
  background-color: inherit;
  color: black;
  padding: 1.5%;

  border: inherit;

  font-size: 2vmin;
  cursor: pointer;
  opacity: 0.6;
  position: absolute;
  top: 30%;
  right: 15%;
  text-shadow: 0px 0px 10px white;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
}

.btn {
  color: black;
  background-color: white;
  padding: 5%;
  border:none;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
  cursor: pointer;
  margin-bottom:;
  margin-top: ;

  font-size: 1.8vmin;
  display: block;
}

.btn:hover {
  opacity: 0.8;
}


.accordiony {
  background-color: rgba(107,142,35,0.2);
  font-weight: bold;
  float:right;
  color: black;
  cursor: pointer;
  padding: 8%;
  width:65%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1.6vmin;
  margin-top:8%;
  margin-bottom:8%;
  margin-right:20%;
  box-shadow: 0px 0px 5px 1px rgba(107,142,35,0.2);

}


.accordionn {
  float:right;
  background-color: rgba(107,142,35, 0.2);
  font-weight: bold;
  color: black;
  cursor: pointer;
  padding: 8%;
  width:65%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1.6vmin;
  margin-top:8%;
  margin-bottom:8%;
  margin-right:20%;
  box-shadow: 0px 0px 5px 1px rgb(107,142,35,0.2);

}

.active {
  color: black;
  font-weight: bold;
  background-color: rgba(128, 0, 0, 0.4);
}


.accordiony:hover, .accordionn:hover {
  background-color: rgb(107,142,35,0.5);
  opacity: 0.8;
  font-weight: bold;
}
.active:hover {
  background-color: rgba(128, 0, 0, 0.6);
}

.panel {
  padding: 5%;
  position:relative;
  max-height: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: none;
  width: 100%;
  background-color: inherit;
  overflow: hidden;
}


}
input {
  width:100%;
  font-size:2vmin;
  padding:2%;
  opacity: 0;
  margin-bottom:5%;
}
