
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  text-shadow: 0px 0px 10px white;

}

.navbar {
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 12%;
  z-index:999;
  color: black;
  text-shadow: 0px 0px 10px white;
  border:inherit;

}

.navbar a {
  margin-top: 0.2%;
  margin-right: 0.2%;
  margin-left: 0.2%;
  float: left;
  color: black;
  text-align: center;
  padding: 2vmin;
  text-decoration: none;
  position:relative;
  font-weight:bold;
  text-shadow: 0px 0px 10px white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 6px;
  font-size: 2.5vmin;
}

.dropdown {
  float: left;
  overflow: hidden;
  z-index: 1000;
  text-shadow: 0px 0px 10px white;
}

.dropdown .dropbtn {
  font-size: 2.5vmin;
  border: none;
  outline: none;
  padding: 2vmin;
  background-color:inherit;
  color: black;
  font-weight: bold;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-shadow: 0px 0px 10px white;
  z-index: 9999;
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #7788C7;

}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: inherit;
  min-width: 30vmin;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 9999;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 2vmin;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index:9999;
  font-size: 2vmin;
  text-shadow: 0px 0px 10px white;

}

.dropdown-content a:hover {
  background-color: #ddd;
  z-index:9999;

}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: rgba(240, 240, 240, 0.5);
  z-index:9999;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  font-size: 1.8vmin;
  opacity: 0.5; /* Firefox */
}


#myInputcredits {
  color: black;
  width: 35%;
  padding-left: 5%;
  font-size: 2.5vmin;
  padding: 12px 20px 12px;
  border: inherit;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  margin-left: 10px;
  margin-bottom: 12px;

}

#myInputdevs {
  color: black;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 25%;
  font-size: 2vmin;
  padding: 1.5vmin;
  border: inherit;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  margin-left: 1%;
  margin-top: 1%;
}

#myInputnames {
  color: black;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 25%;
  font-size: 2vmin;
  padding: 1.5vmin;
  border: inherit;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
}


button {
  cursor: pointer;
  border-radius: 6px;

}


.container {
  left: 0%;
  display: inline-block;
  position: relative;
  top: 0%;
  padding-left: 5vmin;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 5%;
  cursor: pointer;
  font-size: 2vmin;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2vmin;
  width: 2vmin;
  background-color: inherit;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}


.container:hover input ~ .checkmark {
  background-color: #ccc;
}


.container input:checked ~ .checkmark {
  background-color: gray;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}

.ptypes {
  background-color: rgba(255,228,225, 0.1);
  position: fixed;
  z-index: 7;
  float: left;

  width: 100%;
  height: 20%;
  top: 20%;
}




.open-button {
  background-color: inherit;
  color: black;
  padding: 2%;
  width:20%;
  border: inherit;
  font-weight:bold;
  font-size: 2.5vmin;
  font-variant: small-caps;
  cursor: pointer;
  opacity: 0.6;
  position: absolute;
  top: 30%;
  right: 5%;
  text-shadow: 0px 0px 10px white;
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.2);
}

.btn {
  color: black;
  background-color: white;
  padding: 5%;
  border: none;
  cursor: pointer;
  margin-bottom:;
  margin-top: ;
  opacity: 0.6;
  font-size: 2vmin;
  display: block;
  font-variant: small-caps;
}

.btn:hover {
  opacity: 0.8;
}


.accordiony {
  background-color: #608000;
  font-weight: bold;
  opacity: 0.6;
  color: black;
  cursor: pointer;
  padding: 8%;
  width:100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 2vmin;
  margin-top:8%;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
  font-variant: small-caps;
  text-shadow: 0px 0px 2px white;
}


.accordionn {
  background-color: #608000;
  font-weight: bold;
  color: black;
  opacity: 0.6;
  cursor: pointer;
  padding: 8%;
  width:100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 2vmin;
  margin-top:8%;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
  font-variant: small-caps;
  text-shadow: 0px 0px 2px white;
}

.active {
  color: black;
  font-weight: bold;
  background-color: rgba(128, 0, 0, 0.6);

}


.accordiony:hover, .accordionn:hover {
  background-color: #608000;
  opacity: 0.8;
  font-weight: bold;
}
.active:hover {
  background-color: rgba(128, 0, 0, 0.8);
}

.panel {
  padding: 5%;
  position:relative;
  max-height: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: none;
  max-width: 100%;
  background-color: inherit;
  overflow: hidden;
}


}
input {
  width:100%;
  font-size:2vmin;
  padding:2%;
  opacity: 0;
  margin-bottom:5%;
}
